<div class="section section__how">
  <img src="/assets/pattern.svg" alt="decorative x and o pattern">
  <div class="wrapper">
    <h2>How It Works</h2>
    <p>Amalgam8 is composed of these three components:</p>


    <div class="section__row">
      <div>
        <h3>Registry</h3>
        <p>A high performance multi-tenant service registry that provides a centralized view of all the microservices in an application regardless of where they are all actually running.</p>
      </div>
      <div>
        <h3>Controller</h3>
        <p>A multi-tenant controller that provides APIs to the developer
        for configuring rules for request routing, fault injection,
        etc. These rules are then translated and sent to the sidecars
        attached to various microservices.</p>
      </div>
      <div>
        <h3>Sidecar</h3>
        <p>Applications run as tenants of these two services. A sidecar
        process automatically registers the microservice with the registry.
        It receives instance information from the registry and routing rules from the controller. The sidecar configures the nginx proxy based on the routing rules.</p>
      </div>
    </div>


      <div>
        <img src="/assets/Diagram_1.svg" alt="">
      </div>

  </div>
</div>
