<div class="section section__what">
  <div class="wrapper">
    <h2>What Is Amalgam8?</h2>
    <p>Amalgam8 is an open-source platform that simplifies integration of polyglot microservices. Inspired by AirBnB’s Smartstack, Amalgam8 decouples service registration, discovery and client-side load balancing from your application logic. It provides a centralized command center to configure routing of requests across an entire set of microservices, transform in-flight requests, and more.</p>
  </div>
</div>
