<div class="section">
  <div class="wrapper">
    <h2>Why Use Amalgam8?</h2>
    <p>Amalgam8 is a microservice framework that has centrally-controlled routing for an entire microservice- based application that intergrates seamlessly with Kubernetes, Swarm, Containers, VMs, Bare Metal, or any combonation of platforms.</p>
    <div class="diagram">
      <img src="/assets/conductor-illo.svg" alt="Image of a lightbulb being connect to a battery by circuits">
    </div>

    <div class="divider"></div>
  </div>
</div>
