<div class="section">
  <div class="wrapper">
    <h2>Why Use Amalgam8?</h2>

    <div class="section__row">
      <div>
        <p>Amalgam8 simplifies microservice integration tasks and enables you to focus on the DevOps functions such as canary testing, A/B testing, red/black deployments, and systematic resilience testing.</p>
      </div>
      <div>
        <p>You can use the Amalgam8 platform with popular container runtimes like Docker, Kubernetes, Marathon/ Mesos, or your favorite cloud provider such as IBM Bluemix, Google Cloud Platform, or Amazon AWS.</p>
      </div>
    </div>

    <div class="diagram">
      <img src="/assets/conductor-illo.svg" alt="Image of a lightbulb being connect to a battery by circuits">
    </div>
  </div>
</div>
