<footer class="site-footer">

  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="footer-heading">
          <img class="brand-icon-footer" src="/assets/Amalgam8-logo.svg"
               alt="Amalgam8 brand logo showing a flask beaker with a chemical in it">
        </div>
        <ul class="contact-list">
          <li><a href="/docs">Documentation</a></li>
          <li><a href="https://github.com/amalgam8/examples">Get Started</a></li>
          <li><a href="https://github.com/amalgam8/amalgam8.github.io/blob/master/LICENSE">License</a></li>
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          <li>
            <img class="icon" src="/assets/Slack_Mark_White_Web.png" alt="slack logo"> <a href="https://amalgam8-slack-invite.mybluemix.net">amalgam8 on slack</a>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
