<div class="top-block">
  <header class="site-header">
    <div class="nav-wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img class="brand-icon" src="/assets/Amalgam8-logo.svg"
        alt="Amalgam8 brand logo showing a flask beaker with a chemical in it">
      </a>
      <a class="github" href="https://github.com/amalgam8"><div class="button">Join Us On Github</div></a>
    </div>
  </header>

  <div class="splash">
    <div class="nav-wrapper">
      <h1>Compose and Orchestrate Your Polyglot Microservices</h1>
      <p>Configure Request Routing Across Your Microservices From A Central Location</p>
    </div>
  </div>

</div>
