<div class="section">
  <div class="wrapper">
    <h3>Platform & Runtime Independent</h3>
    <p>Amalgam8 is built with extensible Open Source components, that are both platform and runtime agnostic, and can be easily configured on local or cloud enviroments.</p>
    <p>Amalgam8 can be built on top of Kubernetes, Marathon, Swarm, IBM Container runtimes, VMs, or Bare Metal with mix and match configurations.</p>
    <p>Amalgam8 registers microservices automatically with Kubernetes and other enviroments using plugins. Amalgam8 will also provide sidecars for a variety of services that use predefined, but extendable container images.</p>
  </div>
</div>
