<div class="section section__why1">
  <div class="wrapper">
    <h3>Platform & Runtime Independent</h3>
    <div class="section__row">
      <div>
        <p>Amalgam8 is built with extensible Open Source components, and is both platform and runtime agnostic. It can be easily configured on local or cloud enviroments.</p>
      </div>
      <div>
        <p>Amalgam8 registers microservices automatically with Kubernetes and provides sidecars for other enviroments.</p>
      </div>
    </div>
  </div>
</div>
