<div class="section section__why1">
  <div class="wrapper">
    <div class="section__row">
      <div>
        <h2>Connect and Compose Polyglot Microservices</h2>
        <p>Amalgam8 automates service registration and discovery. It uses OpenResty + Nginx for client-side load balancing. You get the scalability of Nginx and the customizability of OpenResty.</p>
      </div>
      <div class="why-image">
          <img src="/assets/connectandcompose.svg" alt="A cube in the middle of multiple arrows on the cardinal directions pointing outward">
      </div>
    </div>
  </div>
</div>
