<div class="section section__why2">
  <div class="wrapper">
    <div class="section__row">
        <div class="why-image why-image2">
            <img src="/assets/RoutingDiagram.svg" alt="a diagram showing how the requests flow through the different versions of microservices">
        </div>
        <div>
        <h2>Centralized Control of Request Routing</h2>
        <p>Amalgam8’s controller enables canary testing, red/black deployments, version-based routing rules, etc., with limited effort. You can configure how traffic is routed across edge and mid-tier microservices using a variety of user-defined filters.</p>
      </div>
    </div>
  </div>
</div>
