<div class="section">
  <div class="wrapper">
    <h3>Shortens Development Cycles</h3>

    <h4>
      Automates Connecting Microservices
    </h4>
    <p>
      Don’t waste your time doing boring, low value work connecting microservices. Amalgam8 automates this process without impacting your existing microservice implementation code. Focus on more important tasks, reduce development costs, and shorten development cycles.
    </p>

    <h4>
      Red/Black Deployment And User- Testing
    </h4>

    <p>Use red/black deployments to enable incremental rollouts for both edge and mid-tier services. Deploy a new version of a microservice by gradually transfering traffic using Amalgam8’s percentage-based routing.</p>
    <p>Send traffic for a specific user to a second version of one of the microservices without impacting other users in a production deployment.</p>
  </div>
</div>
