<div class="section section__why3">
  <div class="wrapper">
    <h3>Shortens Development Cycles</h3>

    <div class="section__row">
      <div>
        <h4>
          Automates Connecting Microservices
        </h4>
        <p>
          Use Amalgam8 to reduce the time your developers spend connecting microservices to focus on more important tasks that will improve their apps and shorten their development cycles.
        </p>
        </div>
        <div>
          <h4>
            Red/Black Deployment And User- Testing
          </h4>
          <p>Use red/black deployments to enable incremental roll-outs for new microservices by gradually transfering traffic using percentage- based routing.</p>
          <p>Send traffic to a second version of a microservice without impacting other users in production deployment.</p>
        </div>
      </div>


  </div>
</div>
