<div class="section section__why4">
  <div class="wrapper">
    <div class="section__row">
      <div>
        <h3>Low Cost, Easy-To-Prove Compliance</h3>
        <p>Because Amalgam8 uses scripted failure scenarios, it offers the basis for repeatable structured testing and validation, providing the basis for low cost, easy to prove compliance.</p>
        </div>
        <div>
          <img src="/assets/pig.svg" alt="a piggy bank with a coin dropping in">
        </div>
      </div>
  </div>
</div>
