<div class="section section__why4">
  <div class="wrapper">
    <div class="section__row">
      <div>
        <h2>Scripted Failure Scenarios with Automatic Validation</h2>
        <p>Run scripted, reproducible failure scenarios in production without affecting your users, nor crashing your microservices. Automatically validate behavior of microservices during the failure scenario using the Gremlin framework.</p>
      </div>
      <div class="why-image">
          <img src="/assets/ScriptedFailure.svg" alt="an illustration representing a block of code with higlighted failures">
      </div>
    </div>
  </div>
</div>
