h1, h2, h3, h4{
  font-weight: 700;
}

.button{
  border: 5px solid $red;
  border-radius: 40px;
  padding: 1rem;
  color: $pink;
  width: 80%;
  font-size: 24px;
  max-width: 18rem;
}



/**
 * Site header
 */

.top-block {
  background-image: url("/assets/Header_Background_Pattern.svg"),
    linear-gradient(
      to right,
      $purple, $pink
    );

}

.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    padding-right: 30px;
    // background-image:
    //   linear-gradient(
    //     to right,
    //     $purple, $pink
    //   );

      .button{
            border: none;
            border-radius: 40px;
            background-color: white;
            padding: .8rem;
            color: $purple;
            width: 100%;
            font-size: 14px;
            text-align: center;
            // max-width: 18rem;
          }

          .nav-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;


}

.brand-icon{
min-width: 150px;
}

.brand-icon-footer{
  max-width: 150px;
}


.splash
{
  // background-color: $purple;
  // background-image:
  //   linear-gradient(
  //     to right,
  //     $purple, $pink
  //   );

    height: 30rem;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/**
* Section content
*/

.divider{
  min-height: .3rem;
  // min-width: 600px;
  border-radius: 30px;
  background-color: $purple2;
  margin-top: 2rem;
}

.divider2{
  background-color: $purple4;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section{

  // min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $grey-text;

  padding-top: 4rem;

  text-align: center;

}

.section__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;

  div{
    padding: .5rem;

    &:nth-child(1){
      width: 60%;
    }

    &:nth-child(2){
      width: 40%;
    }

  }
}

.section__col{
  text-align: left;
  display: flex;
  flex-direction: column;

}

.section__what{
  padding-bottom: 2rem;
}

.section__how{
  background-color: $purple1;
  color: white;
}

.section__contribute{
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a{
    display: flex;
    justify-content: center;;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  img{
    width: 200px;
  }
}

.section__learn{
  background-color: $off-white;

  img{
    min-width: 600px;
  }
}

.diagram{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/**
*Why Sections
*/

.section__why1, .section__why2, .section__why3, .section__why4{
  color: #ffffff;
  text-align: left;
  padding-bottom: 4rem;
}

.section__why1{
  background-color: $purple1;
}

.section__why2{
  background-color: $purple2;
}

.section__why3{
  background-color: $purple3;
}

.section__why4{
  background-color: $purple4;
}


/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    background-color: $purple;
    padding: $spacing-unit 0;

    a{
      color: white;
    }
    color: white;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
