h1, h2, h3, h4{
  font-weight: 700;
  text-align: center;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

a{
  color: white;
  text-decoration: underline;

  &:hover{
    color: $purple1;
  }
}

.button{
  border: 5px solid $red;
  border-radius: 40px;
  padding: 1rem;
  color: $pink;
  width: 80%;
  font-size: 24px;
  max-width: 18rem;
}



/**
 * Site header
 */

 .top-block {
   background-image: url("/assets/Header_Background_Pattern.svg"),
   linear-gradient(
   to right,
   $purple, $pink
   );
   color: white;
   text-align: center;

    .site-header {
     min-height: 56px;
     padding-right: 30px;

     .site-title {
       font-size: 26px;
       font-weight: 300;
       line-height: 56px;
       letter-spacing: -1px;
       margin-bottom: 0;
       float: left;
     }

     .brand-icon{
       min-width: 150px;
     }

      a{
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }

     .button{
       border: none;
       border-radius: 40px;
       background-color: white;
       padding: .8rem;
       color: $purple;
       width: 100%;
       font-size: 14px;
       text-align: center;
     }

     .nav-wrapper{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       width: inherit;
     }

     @include media-query($on-palm)
     {
      padding-right: 15px;
       .nav-wrapper{
         justify-content: space-around;
       }
     }
   }

   .splash{
     height: 30rem;
     display: flex;
      justify-content: center;
      align-items: center;
    }

   @include media-query($on-palm)
   {
     .site-header{
       .brand-icon{
         min-width: 100px;
       }

       .button{
         padding: .5rem;
         width: 100%;
         font-size: 12px;
       }
     }

     .nav-wrapper{
       justify-content: space-around;
     }

       h1{
         font-size: 2rem;
       }

       .splash{
         height: 22rem;
       }
     }

 }

/**
* Section content
*/

.divider{
  min-height: .3rem;
  // min-width: 600px;
  border-radius: 30px;
  background-color: $purple2;
  margin-top: 2rem;
}

.divider2{
  background-color: $purple4;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section{

  // min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $grey-text;

  padding-top: 4rem;
}

.section__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;

  div{
    padding: 1rem;

    &:nth-child(1){
      width: 50%;
    }

    &:nth-child(2){
      width: 50%;
    }
  }

  @include media-query($on-palm) {
    flex-direction: column;
    justify-content: center;

    div{
      padding: 1rem;

      &:nth-child(1){
        width: inherit;
      }

      &:nth-child(2){
        width: inherit;
      }
    }
  }


}

.section__col{
  text-align: left;
  display: flex;
  flex-direction: column;

}

.section__what{
  p{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.section__how{
  background-color: $purple1;
  color: white;
  padding-top: 0;
  text-align: center;
  padding-bottom: 4rem;

  .wrapper{
    padding-top: 2rem;
  }

  .section__row{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    div{
      padding: 1rem;

      width: 33%;
    }
  }

  img{
    width: 80%;
  }

  @include media-query($on-palm--custom) {
    .section__row{
      flex-direction: column;
      justify-content: center;

      div{
        width: inherit;
      }
    }
  }
}

.section__blurb{
  background-color: $cream;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  p{
      padding: 0rem 6rem 0rem 6rem;
  }

  @include media-query($on-palm) {
    p{
      padding: 0rem 1rem 0rem 1rem;
    }
  }
}

.section__contribute{
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  a{
    display: flex;
    justify-content: center;;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;

    &:hover{
      color: $pink;
      text-decoration: underline;
    }
  }

  img{
    width: 200px;
  }
}

.section__learn{
  background-color: $off-white;

  .wrapper{
    width: 80%;
  }

  img{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.diagram{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/**
*Why Sections
*/

.section__why1, .section__why2, .section__why3, .section__why4{
  color: #ffffff;
  text-align: left;
  padding-bottom: 4rem;

  h1, h2, h3, h4{
    text-align: left;
  }

  .section__row
  {
    align-items: center;
  }

  .why-image{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 70%;
    }
  }

  .why-image2{
    img{
      width: 100%;
    }
  }

  @include media-query($on-palm) {
    .section__row{
      text-align: center;
      h2{
        text-align: center;
      }
    }

    .why-image{
      img{
        width: 50%;
      }
    }
      .why-image2{
        img{
          width: 70%;
        }
      }

  }

}

.section__why1{
  background-color: $purple1;

  @include media-query($on-palm) {
    .section__row{
      flex-direction: column-reverse;
    }
  }
}

.section__why2{
  background-color: $purple2;
}

// .section__why3{
//   background-color: $purple3;
// }

.section__why4{
  background-color: $purple4;

  @include media-query($on-palm) {
    .section__row{
      flex-direction: column-reverse;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    background-color: $purple;

    padding: $spacing-unit 0;
    padding-top: 90px;

    a{
      color: white;
    }
    color: white;

    @include media-query($on-palm--custom) {
      padding-top: 2rem;
    }
}

.brand-icon-footer{
  max-width: 150px;
}


.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
