---
layout: bootstrap
---

{{ content }}

<div id="doc-sidebar">
    {% assign cats = site.docs | group_by: "category" %}
    {% for cat in cats %}
        <h4>{{ cat.name | default: "Guides" }}</h4>
        <ul>
            {% assign docs = cat.items | sort: "order" %}
            {% for doc in docs %}
                {% if doc.exclude != true %}
                <li><a href="{{doc.url}}">{{ doc.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}    
</div>
